<!doctype html>
<html>
<head>
	<title>Pierre Nicolas Durette</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="style/main.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
	<script src="js/jquery.ba-throttle-debounce.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
<div id="center-column">
	<div class="pn-tag"><a href="#top">PN</a></div>
	<p>A jack of all trades techo-geek i.t. jr. engineer (<a href="#">ets</a> '09) with an artistic side named:</p>
	<!--<p>A jack of all trades techo-geek i.t. jr. engineer (<a href="#">ets</a> '09) with an artistic who can do more than create a GUI interface in Visual Basic to track the killer's IP address</p>-->
	<div class="inline-h1" id="name-title"><h1><strong>Pierre Nicolas Durette</strong></h1></div>
	<!--<p>I can create a GUI interface in Visual Basic to track an IP address</p>-->
	
	<div id="twitter"></div>
	<ul class="nav" id="nav0">
	<li class="inline-li"><div><strong><a class="select" href="#twitter">Twitter</a></strong></div></li> 
	<li class="inline-li"><div><strong><a href="#projects">Projects</a></strong></div></li>
	<li class="inline-li"><div><strong><a href="#more">More</a></strong></div></li>
	</ul>
	
	<div class="inline-p"><p><strong>Big intense revealing week ahead! <a href="#">#WWDC</a> and <span class="blue">#E3!</span></strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong>Great read: "The Anatomy of a Notification". Totally agree. RT <span class="blue">@rands</span> Well, my ass is vibrating, so it must be important: <span class="blue">j.mp/kxnh0l</span></strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong><span class="blue">#html</span>: How to set padding for each line of a multi-line inline element: <span class="blue">http://bit.ly/kVqZZ6</span> Most elegant solution I've found.</strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong>Helvetica Love Test Test Test Test Test <span class="blue">#fonts</span></strong></p><span class="time">5 hours ago</span></div>
	
	<div id="projects"></div>
	<ul class="nav" id="nav1">
	<li class="inline-li"><div><strong><a href="#twitter">Twitter</a></strong></div></li> 
	<li class="inline-li"><div><strong><a class="select" href="#projects">Projects</a></strong></div></li>
	<li class="inline-li"><div><strong><a href="#more">More</a></strong></div></li>
	</ul>

	<div class="project-carrousel">
	<div class="project">
		<div class="project-image"><img src="style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet.</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa nisis</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa nisis</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa nisis</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa nisis</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet.</p></div>
	</div>
	</div> <!-- /project-carrousel --> 
	<div class="split"></div>
	
	<div id="more"></div>
	<ul class="nav" id="nav2">
	<li class="inline-li"><div><strong><a href="#twitter">Twitter</a></strong></div></li> 
	<li class="inline-li"><div><strong><a href="#projects">Projects</a></strong></div></li>
	<li class="inline-li"><div><strong><a class="select" href="#more">More</a></strong></div></li>
	</ul>
	
	<div class="inline-p"><p><strong>Big intense revealing week ahead! <a href="#">#WWDC</a> and <span class="blue">#E3!</span></strong></p><span class="time">5 hours ago</span></div>
	
	<p>Pellentesque habitac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifenant morbi tristique senectus et netus et malesuada fames d leo.</p>
	
	<p>Pellentesque habitac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifenant morbi tristique senectus et netus et malesuada fames d leo.</p>
	

	<div style="height: 1000px"></div>
</div> <!-- /center-column --> 
</body>
</html>
