<!doctype html>
<html>
<head>
	<title>Pierre Nicolas Durette</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.75, minimum-scale=0.75, maximum-scale=0.75">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
    <!-- Fonts -->    
	<link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
    <!-- OnePage Scroll --> 
    <link rel="stylesheet" type="text/css" href="static/style/onepage-scroll.css" />
    <script src="static/js/jquery.onepage-scroll.js"></script>
    
    <link rel="stylesheet" type="text/css" href="static/style/main.css" />
    <script src="static/js/main.js"></script>
</head>
<body>
<div class="container" id="main">
<section style="background-image:url('{{ backgrounds[0].img }}');">
<div class="row" style="padding: 5%">
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <p>{{ quote }}</p>
    <div class="inline-h1" id="name-title"><h1><strong>Pierre Nick<br/>Durette</strong></h1></div>
    <p>Hi! Montreal expat in Toronto. I do software, Web and other shenanigans. Used to photoblog, now I <a href="http://instagram.com/pierrenick">Instagram</a>.</p>
</div> <!--/col-->
</div> <!--/row-->
</section>

<section style="background-image:url('{{ backgrounds[1].img }}');">
<div class="row">
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="inline-h1" id="name-title"><h1><strong>Twitter</strong></h1></div>
    <div class="inline-p"><p><strong>Big intense revealing week ahead! <a href="#">#WWDC</a> and <span class="blue">#E3!</span><span class="time">5 hours ago</span></strong></p></div>
	<div class="inline-p"><p><strong>Great read: "The Anatomy of a Notification". Totally agree. RT <span class="blue">@rands</span> Well, my ass is vibrating, so it must be important: <span class="blue">j.mp/kxnh0l</span></strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong><span class="blue">#html</span>: How to set padding for each line of a multi-line inline element: <span class="blue">http://bit.ly/kVqZZ6</span> Most elegant solution I've found.</strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong>Helvetica Love Test Test Test Test Test <span class="blue">#fonts</span></strong></p><span class="time">5 hours ago</span></div>
</div> <!--/col-->
</div> <!--/row-->
</section>

<section style="background-image:url('{{ backgrounds[2].img }}');">
<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="inline-h1" id="name-title"><h1><strong>Projects</strong></h1></div>
    <div class="row" style="padding: 0 15px;">
        <div class="col-xs-12 col-sm-5 col-md-5 project">
        <div class="project-image"><img src="static/style/test-2.jpg" class="img-responsive"/></div>
        <div class="project-text"><div class="tag">Test</div><p>Lorem ipsum dolor sit amet.</p></div>
	    </div>

        <div class="col-xs-12 col-sm-5 col-md-5 project">
        <div class="project-image"><img src="static/style/test-2.jpg" class="img-responsive"/></div>
        <div class="project-text"><div class="tag">Test</div><p>Lorem ipsum dolor sit amet. Le pouvoir d'être.</p></div>
	    </div>

        <div class="col-xs-12 col-sm-5 col-md-5 project">
		<div class="project-image"><img src="static/style/test-2.jpg" class="img-responsive"/></div>
        <div class="project-text"><div class="tag">Test</div><p>Vestibulum tortor quam, feugiat vitae!</p></div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 project">
        <div class="project-image"><img src="static/style/test-2.jpg" class="img-responsive"/></div>
        <div class="project-text"><div class="tag">Test</div><p>Lorem ipsum dolor sit amet.</p></div>
	    </div>

        <div class="col-xs-12 col-sm-5 col-md-5 project">
        <div class="project-image"><img src="static/style/test-2.jpg" class="img-responsive"/></div>
        <div class="project-text"><div class="tag">Test</div><p>Lorem ipsum dolor sit amet. Le pouvoir d'être.</p></div>
	    </div>

        <div class="col-xs-12 col-sm-5 col-md-5 project">
		<div class="project-image"><img src="static/style/test-2.jpg" class="img-responsive"/></div>
        <div class="project-text"><div class="tag">Test</div><p>Lorem ipsum dolor sit amet. Vestibulum tortor quam, feugiat vitae!</p></div>
        </div>
    </div> <!--/row-->
</div> <!--/col-->
</div> <!--/row-->    
</section>

<section style="background-image:url('{{ backgrounds[3].img }}');">
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="inline-h1" id="name-title"><h1><strong>More</strong></h1></div>
    <p><a href="http://www.linkedin.com/in/pndurette">LinkedIn</a></p>
 </div> <!--/col-->
</div> <!--/row-->    
</section>
</div> <!--/main-->
</body>
</html>
