<!doctype html>
<html>
<head>
	<title>Pierre Nicolas Durette</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="static/style/main.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
	<script src="static/js/jquery.ba-throttle-debounce.js"></script>
   
    <script src="static/js/jquery.onepage-scroll.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style/onepage-scroll.css" />

    <script src="static/js/main.js"></script>
</head>
<body>
<div id="main">
<section style="background-color:green;">
    <div class="center-column">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae orci ac justo cursus.</p>
    <div class="inline-h1" id="name-title"><h1><strong>Pierre Nicolas<br/>Durette</strong></h1></div>
	
	<!--<div id="twitter"></div>
	<ul class="nav" id="nav0">
	<li class="inline-li"><div><strong><a class="select" href="#twitter">Twitter</a></strong></div></li> 
	<li class="inline-li"><div><strong><a href="#projects">Projects</a></strong></div></li>
	<li class="inline-li"><div><strong><a href="#more">More</a></strong></div></li>
    </ul>-->
    </div> <!--/center-column-->
</section>

<section style="background-color:blue;">
    <div class="center-column">
    <div class="inline-p"><p><strong>Big intense revealing week ahead! <a href="#">#WWDC</a> and <span class="blue">#E3!</span><span class="time">5 hours ago</span></strong></p></div>
	<div class="inline-p"><p><strong>Great read: "The Anatomy of a Notification". Totally agree. RT <span class="blue">@rands</span> Well, my ass is vibrating, so it must be important: <span class="blue">j.mp/kxnh0l</span></strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong><span class="blue">#html</span>: How to set padding for each line of a multi-line inline element: <span class="blue">http://bit.ly/kVqZZ6</span> Most elegant solution I've found.</strong></p><span class="time">5 hours ago</span></div>
	<div class="inline-p"><p><strong>Helvetica Love Test Test Test Test Test <span class="blue">#fonts</span></strong></p><span class="time">5 hours ago</span></div>
    </div> <!--/center-column-->    
</section>

<section style="background-color:red; overflow: hidden">
    <div class="center-column">
	<!--<div id="projects"></div>
	<ul class="nav" id="nav1">
	<li class="inline-li"><div><strong><a href="#twitter">Twitter</a></strong></div></li> 
	<li class="inline-li"><div><strong><a class="select" href="#projects">Projects</a></strong></div></li>
	<li class="inline-li"><div><strong><a href="#more">More</a></strong></div></li>
    </ul>-->

	<div class="project-carrousel">
	<div class="project">
		<div class="project-image"><img src="static/style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet.</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="static/style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa nisis</p></div>
	</div>
	
	<div class="project">
		<div class="project-image"><img src="static/style/test-2.jpg"/><div class="tag">Test</div></div>
		<div class="project-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa nisis</p></div>
	</div>
	
	</div> <!-- /project-carrousel --> 
    </div> <!--/center-column-->
</section>

<section style="background-color:pink;">
    <div class="center-column">
	<!--<div id="more"></div>
	<ul class="nav" id="nav2">
	<li class="inline-li"><div><strong><a href="#twitter">Twitter</a></strong></div></li> 
	<li class="inline-li"><div><strong><a href="#projects">Projects</a></strong></div></li>
	<li class="inline-li"><div><strong><a class="select" href="#more">More</a></strong></div></li>
    </ul>-->
	
	<p>Pellentesque habitac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifenant morbi tristique senectus et netus et malesuada fames d leo.</p>
	
	<p>Pellentesque habitac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifenant morbi tristique senectus et netus et malesuada fames d leo.</p>
    </div> <!--/center-column-->
</section>
</div> <!--/main-->
</body>
</html>
