<div class="row" style="padding-top: 5%">
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="inline-p"><p><strong>“{{ quote | safe }}”</strong></p></div>
    <div class="inline-h1" id="name-title"><h1><strong>Pierre Nick<br/>Durette</strong></h1></div>
    <div class="inline-p"><p><strong>Hi! Montreal expat in Toronto. I do software, Web and other shenanigans. Aeons ago I used to photoblog and blog, now I <a href="http://instagram.com/pierrenick">Instagram</a> and <a href="http://www.twitter.com/pierrenick">Tweet</a>.</p></strong></div>
    <div class="chevron floating hidden-sm hidden-xs" onclick="$('#main').moveDown();"></div>
</div> <!--/col-->
</div> <!--/row-->
