<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="inline-h1"><h1 style="color: {{ img.main_color }}"><strong>Finally</strong></h1></div>
    <div class="inline-p"><p><strong>My <a href="http://cv.pierre-nick.com/docs/pndurette-resume.pdf">Resume</a>. My <a href="http://ca.linkedin.com/in/pndurette/">LinkedIn</a>.</strong></p></div>
   
</div> <!--/col-->
</div> <!--/row-->

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="inline-p"><p><strong>Random backgrounds via my <a href="http://instagram.com/pierrenick">Instagram</a>:</strong></p></div>

    {% for img in backgrounds %}
    <p><span class='blue'>{{ loop.index }}.</span> <a href="{{ img.link_url }}">{{ img.title if img.title else "Untitled" }}</a></p>    
    {% endfor %}
</div> <!--/col-->
</div> <!--/row-->


